region = "singapore"

# Optional: set this to the existing UITFood / Production environment ID if you
# want these resources grouped under that Render Project environment.
# render_environment_id = "evm-..."

web_service_plan = "free"
postgres_plan    = "free"

image_tag = "sha-05beb43"

# Set these if GHCR packages are private.
# web_registry_credential_id = "rcred-..."
# api_registry_credential_id = "rcred-..."

api_env_vars = {
  BETTER_AUTH_URL                    = "https://example.com"
  CORS_ORIGIN                        = "https://example.com"
  REDIS_PORT                         = "6379"
  REDIS_HOST                         = "example.redis.host"
  FIREBASE_SERVICE_ACCOUNT_PATH      = "/etc/secrets/soli-food-delivery-FCM-key.json"
  "soli-food-delivery-FCM-key.json"  = "replace-with-json-or-existing-env-value"
  CLOUDINARY_API_SECRET              = "replace-me"
  CLOUDINARY_API_KEY                 = "replace-me"
  CLOUDINARY_CLOUD_NAME              = "replace-me"
  SMTP_FROM                          = "noreply@example.com"
  SMTP_PASS                          = "replace-me"
  SMTP_USER                          = "replace-me"
  SMTP_SECURE                        = "true"
  SMTP_PORT                          = "587"
  SMTP_HOST                          = "smtp.example.com"
  VNPAY_RETURN_URL                   = "https://example.com/return"
  VNPAY_URL                          = "https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
  VNPAY_HASH_SECRET                  = "replace-me"
  VNPAY_TMN_CODE                     = "replace-me"
  BETTER_AUTH_SECRET                 = "replace-me"
}
